* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #EFEFEF;
}
header h1 {
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
}

hr {
  margin: 0;
  opacity: 0.5;
}

.content-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0 0;
}
.price-list li {
  list-style-type: none;
  background-color: #EFEFEF;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
.price-list li:hover {
  background-color: wheat;
  cursor: pointer;
}
.price-list li img {
  width: 300px;
  height: 300px;
  margin-top: 10px;
}
.price-list li h2 {
  margin: 10px 0 0 0;
  font-size: 21px;
}
.price-list li p {
  margin: 10px 0 0 0;
}
.price-list li .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-list li .details .counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.price-list li .details .counter-wrapper .counter-control {
  height: 30px;
  padding: 0;
  margin: 0 10px 0 10px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 25px;
  background-color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price-list li .details .counter-wrapper .counter-control:hover {
  cursor: pointer;
  background-color: green;
}
.price-list li .details .price {
  margin-top: 10px;
  font-size: 20px;
}
.price-list li button {
  margin: 10px 0 10px 0;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #000;
}
.price-list li button:hover {
  cursor: pointer;
  background-color: red;
}

.basket {
  width: 400px;
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 50px 0 0 0;
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.basket h2 {
  margin: 50px 0 0 0;
}
.basket .basket-condition {
  margin-top: 50px;
}
.basket .basket-item {
  border-bottom: 1px solid #000;
  margin-top: 10px;
}
.basket .basket-item .top-content {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basket .basket-item .top-content h2 {
  font-size: 18px;
  margin: 0;
}
.basket .basket-item .top-content p {
  font-size: 18px;
  margin: 0 0 0 20px;
}
.basket .basket-item .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.basket .basket-item .bottom-content .price {
  font-weight: bold;
}
.basket .basket-item .bottom-content .counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basket .basket-item .bottom-content .counter-wrapper .counter-control {
  height: 30px;
  padding: 0;
  margin: 0 10px 0 10px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 25px;
  background-color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.basket .basket-item .bottom-content .counter-wrapper .counter-control:hover {
  cursor: pointer;
  background-color: green;
}
.basket .result {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.basket .buy-beer {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 20px;
}
.basket .buy-beer:hover {
  background-color: green;
  cursor: pointer;
}
.basket .clear-basket {
  margin-bottom: 20px;
}
.basket .clear-basket:hover {
  background-color: red;
  cursor: pointer;
}